<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000080;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

<!-- BEGIN NAVIGATION -->
<ul class="w3-navbar w3-padding-8">
    <li style="float:left">{% url 'index' as url %} {% load static %}<a href= "{{url}}"><img src="{% static 'logo.png' %}" alt="" style="width:28px;height:28px;"></a></li>
    <li style="float:right">{% url 'Config Upload' as url %}<a href= "{{url}}">CONFIGURATIONS</a></li>
    <li style="float:right">{% url 'Doc Upload' as url %}<a href= "{{url}}">DOCUMENTS</a></li>
    <li class="w3-dropdown-hover" style="float:right"><a href= "#">CONVERT<i class="fa fa-caret-down"></i></a>
        <div class="w3-dropdown-content w3-grey w3-card-4">
            {% url 'Convert' 'HTML' as urlH %}<a href="{{urlH}}">HTML</a>
            {% url 'Convert' 'WORD' as urlW %}<a href="{{urlW}}">WORD</a>
            {% url 'Convert' 'PDF' as urlP %}<a href="{{urlP}}">PDF</a>
        </div>
    </li>
    <li style="float:right">{% url 'index' as url %} <a href= "{{url}}">HOME</a></li>
</ul>

<!-- END NAVIGATION -->


<style> 
    
</style>

<div class="w3-container w3-indigo">
    <h1 style=text-align:center>Converted Document</h1>
</div>

<form method="POST">
    {% csrf_token %}
<table class="w3-table-all">
    <th style="text-align:center">Title</th>
    <th style="text-align:center">Answer</th>
    <th style="text-align:center">Exclude?</th>

{% for key, value in recovered.items %}
    <tr class="w3-hover-blue">
        <td>{{key}}</td>
        <td>{{value}}</td>
        <td style="text-align:center"><label for="id_options_{{ forloop.counter0 }}"><input for="id_options_{{ forloop.counter0 }}" name="exclusions" type="checkbox" value ="{{key}}" /></td>
    </tr>
{% endfor %}

</table>
<p style="text-align: center"> <input type='submit' value='Exclude and Upload'> </p>
</form>