<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000080;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

<!-- BEGIN NAVIGATION -->
<ul class="w3-navbar w3-padding-8">
    <li style="float:left">{% url 'index' as url %} {% load static %}<a href= "{{url}}"><img src="{% static 'logo.png' %}" alt="" style="width:28px;height:28px;"></a></li>
    <li style="float:right">{% url 'Config Upload' as url %}<a href= "{{url}}">CONFIGURATIONS</a></li>
    <li style="float:right">{% url 'Doc Upload' as url %}<a href= "{{url}}">DOCUMENTS</a></li>
    <li class="w3-dropdown-hover" style="float:right"><a href= "#">CONVERT<i class="fa fa-caret-down"></i></a>
        <div class="w3-dropdown-content w3-grey w3-card-4">
            {% url 'Convert' 'HTML' as urlH %}<a href="{{urlH}}">HTML</a>
            {% url 'Convert' 'WORD' as urlW %}<a href="{{urlW}}">WORD</a>
            {% url 'Convert' 'PDF' as urlP %}<a href="{{urlP}}">PDF</a>
        </div>
    </li>
    <li style="float:right">{% url 'index' as url %} <a href= "{{url}}">HOME</a></li>
</ul>

<!-- END NAVIGATION -->

<div class="w3-container w3-blue">
    <h1 style=text-align:center>Document Upload</h1>
</div>

<div class="w3-container w3-pale-blue w3-leftbar w3-border-blue w3-margin-0">
    <h3><b>Instructions</b></h3>
    <h4>
        Add documents to the database. IBM Watson's Document Conversion Service allows for the conversion of HTML, PDF or WORD documents.
        Only files with associated extensions should be uploaded. 
    </h4>
</div>

<h3 style=text-align:center>{{message}}</h3>

<div class="w3-container w3-margin-left">
    
    <form method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    {{formset.as_p}}
    
    <input type='submit' value='Upload'>
    </form>
</div>

